.footer{
  display: flex;
  flex-wrap: wrap;
  .footer-logo{
    flex: 1 50%;
    order:1;
    padding: 10px 0 10px 10px;
  }
  .footer-flag{
    flex: 1 50%;
    order: 2;
    background-image: url('../../img/flag.png');
    background-repeat: no-repeat;
    background-position: 0 17px;
    padding-left: 45px;
    padding-bottom: 15px;
    padding-top: 5px;

    a{
      font-size: 0.625rem;
      color: #444444;
      line-height: 0;
      background-image: url('../../img/drop-icon.png');
      background-repeat: no-repeat;
      background-position: 135px 0px;
      padding-right: 20px;
      padding-top: 7px;
      padding-bottom: 10px;

    }

    .country{
        font-size: 14px;
    }
  }
  .footer-nav{
    margin: 30px 0 50px 0;
    flex:1 100%;
    order:0;
    ul{
      li{
        text-align: center;
        margin: 10px 0;

      }
      a{
          color: #888888;
          font-size: 0.875rem;
      }
    }
  }
}
